<h2>Show the Celebrities</h2>

  <span>Name: {{celebritiesList.name}}</span>
  <p>Occupation: {{celebritiesList.occupation}}</p>
  <p>catchPhrase: {{celebritiesList.catchPhrase}}</p>

<p></p><a href="/celebrities/edit/{{celebritiesList._id}}">Edit this book</a> </p>

<p> <a href="/celebrities/delete/{{celebritiesList._id}}">Delete this Celebrity</a> </p>

<p><a href="/celebrities/"> Go to Celebrity´s Page</a></p>


